 /* Estilos para el encabezado */
 header {
    background-color: #a1cea2;
    padding: 20px;
    text-align: center;
    color: rgb(233, 216, 216);
}

/* Estilos para la barra de navegación */
nav a {
    color: rgb(43, 29, 29);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #615d3e;
}

/* Estilos para la sección principal */
.container {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #423131;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #350808;
}

.container p {
    font-size: 16px;
    color: #e2d3d3;
    line-height: 1.6;
}

/* Estilos para el pie de página */
footer {
    background-color: #965454;
    color: rgb(54, 39, 39);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
} 
   